<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/upd}" th:object="${user}">
  <label for="username">Enter name:</label>
  <input type="text" th:field="*{username}" id="username"/>
  <br/>
  <label for="password">Enter password:</label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <label for="lastName">Enter surname:</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <label for="email">Enter email:</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <label for="age">Enter age:</label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <label>Select roles:</label>
  <div th:each="role : ${allRoles}">
    <input type="checkbox" name="roleIds" th:value="${role.id}"
           th:checked="${user.roles.contains(role)}" />
    <span th:text="${role.name}"></span>
  </div>
  <br/>
  <input type="hidden" th:field="*{id}"/>
  <input type="submit" value="update"/>
</form>
<form th:action="@{/logout}" method="get"/>
<button type="submit" class="button"> Выйти из профиля </button>
</form>
</body>
</html>